@model Ecommerce_Application.Models.UserModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Profile</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        body {
            background-color: #FFF7DD;
        }
    </style>
</head>
<body>
    <header>
        <div id="dynamicHeaderContent">
        </div>
    </header>
    <div class="w-100 p-3" style="background-color: #91C4C3; height: 250px; margin-top: 70px;">
        <div class="h-100 ms-4 d-flex" style="width: 500px; ">
            <img src="https://www.shutterstock.com/image-vector/universal-blank-profile-picture-avatar-600nw-1654275940.jpg" alt="Circular Image" class="rounded-circle" style="width: 200px; height: 200px;" />
            <div class="d-flex flex-column justify-content-center p-3" style="width: 300px;">
                <h2>@Model.Name</h2>
                <h4>@Model.Email</h4>
            </div>
        </div>
    </div>
    <div class="p-4">
        @if (String.IsNullOrEmpty(Model.Address))
        {
            <h3>Add Address:</h3>
            using (Html.BeginForm("UpdateAddress", "Profile", FormMethod.Post))
            {
                @Html.HiddenFor(m => m.UserId)
                <label>Address:</label>
                @Html.TextAreaFor(m => m.Address, new { @class = "form-control form-control-lg", @rows = "5", @style = "width: 500px;" });
                @Html.ValidationMessageFor(m => m.Address, "", new { @stle = "color: red;" });
                <button class="btn mt-3" type="submit" style="background-color: #91C4C3 ">Add</button>
            }
        }
        else
        {
            <h3>Update Address:</h3>
            using (Html.BeginForm("UpdateAddress", "Profile", FormMethod.Post))
            {
                @Html.HiddenFor(m => m.UserId)
                <label>Address:</label>
                @Html.TextAreaFor(m => m.Address, new { @class = "form-control form-control-lg", @rows = "5", @style = "width: 500px;" });
                @Html.ValidationMessageFor(m => m.Address, "", new { @stle = "color: red;" });
                <button class="btn mt-3" type="submit" style="background-color: #91C4C3 ">Update</button>
            }
        }
    </div>

    @if (ViewBag.IsUpdated != null)
    {
        <div class="toast-container position-fixed bottom-0 end-0 p-3">
            <div class="toast show bg-success text-white">
                <div class="toast-header">
                    <strong class="me-auto">Updated</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
                </div>
                <div class="toast-body">
                    User Address Updated
                </div>
            </div>
        </div>
    }

    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/jquery-3.7.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $.get('@Url.Action("LoadHeader", "Home")', { isCart: false}, function (data) {
            $('#dynamicHeaderContent').html(data);
        });
    });
    </script>
</body>
</html>
