@model Ecommerce_Application.Models.UserModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Profile</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        body {
            background-color: #FFF7DD;
        }
    </style>
</head>
<body>
    <header>
        <div id="dynamicHeaderContent">
        </div>
    </header>
    <div class="w-100 p-3" style="background-color: #91C4C3; height: 250px; margin-top: 70px;">
        <div class="h-100 ms-4 d-flex" style="width: 500px; ">
            <img src="https://www.shutterstock.com/image-vector/universal-blank-profile-picture-avatar-600nw-1654275940.jpg" alt="Circular Image" class="rounded-circle" style="width: 200px; height: 200px;" />
            <div class="d-flex flex-column justify-content-center p-3" style="width: 300px;">
                <h2>@Model.Name</h2>
                <h4>@Model.Email</h4>
            </div>
        </div>
    </div>
    <div class="p-4">
        @if (String.IsNullOrEmpty(Model.Address))
        {
            <h3>Add Address:</h3>
        }
        else
        {
            <h3>Update Address:</h3>
        }

        @Html.HiddenFor(m => m.UserId, new { id = "userIdInput" })

        <label>Address:</label>
        @Html.TextAreaFor(m => m.Address, new { @class = "form-control form-control-lg", @rows = "5", @style = "width: 500px;", id = "addressInput" })
        <p id="errorTxt" style="color: red"></p>

        <button id="updateAddressBtn" class="btn mt-3" type="button" style="background-color: #91C4C3 ">@(String.IsNullOrEmpty(Model.Address) ? "Add Address" : "Update Address")</button>

    </div>

        <div id="toast" style="visibility: hidden" class="toast-container position-fixed bottom-0 end-0 p-3">
            <div id="toastBody" class="toast show bg-success text-white">
                <div class="toast-header">
                    <strong id="toastTitle" class="me-auto">Updated</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
                </div>
                <div id="toastMsg" class="toast-body">
                    User Address Updated
                </div>
            </div>
        </div>

    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/jquery-3.7.0.min.js"></script>
    <script>
        $(document).ready(function () {

            $('#updateAddressBtn').click(function () {
                const btn = $(this);

                $('#toast').css('visibility', 'hidden')
                $('#errorTxt').text('');
                btn.prop('disabled', true).text('Saving...');

                const userId = $('#userIdInput').val();
                const address = $('#addressInput').val();

                if (address.trim() === "") {

                    btn.prop('disabled', false).text('Update Address');
                    $('#errorTxt').text('Add Address');
                    return;
                }

                $.ajax({
                    url: '@Url.Action("UpdateAddress", "Profile")',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        UserId: userId,
                        Address: address
                    },
                    success: (response) => {
                        if (response.success === true) {
                            $('#toastBody').removeClass('bg-danger'); 
                            $('#toast').css('visibility', 'visible')
                            $('#toastMsg').text('User Address Updated')
                            $('#toastTitle').text('Updated')
                        } else {
                            $('#toast').css('visibility', 'visible')
                            $('#toastBody').addClass('bg-danger')
                            $('#toastMsg').text('User Address Not Updated')
                            $('#toastTitle').text('Not Updated')
                        }
                    },
                    error: (xhr, status, error) => {
                        $('#toast').css('visibility', 'visible')
                        $('#toastBody').addClass('bg-danger')
                        $('#toastMsg').text(error)
                        $('#toastTitle').text('Not Updated')
                    },
                    complete: () => {
                        btn.prop('disabled', false).text('Update Address');
                    }
                })
            })

            $.get('@Url.Action("LoadHeader", "Home")', { isCart: false}, function (data) {
            $('#dynamicHeaderContent').html(data);
             });
    });
    </script>
</body>
</html>
