@model List<Ecommerce_Application.Models.DeliveryModel>
<div id="orderContent">
    <section style="background-color: #91C4C3; width: 100%; min-height: 100vh; padding: 15px">
        <div>
            <div class="d-flex justify-content-center flex-column" style="background-color: #FFF7DD; min-width: 150px; max-width: 250px; min-height: 150px; border-radius: 10px; padding: 10px;">
                <h4>No. Pending Orders:</h4>
                <h2 id="orderCount">@((Model != null) ? @Model.Count : 0)</h2>
            </div>
            <div style="margin-top: 15px">
                @if (Model != null)
                {
                    if (Model.Count > 0)
                    {
                        <div style="box-shadow: 5px 5px 7px white; border-radius: 10px">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">No.</th>
                                        <th scope="col">Product</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Address</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody id="orderTableBody">
                                    @for (var i = 0; i < Model.Count; i++)
                                    {
                                        var orders = Model[i];
                                        <tr>
                                            <td>@(i+1)</td>
                                            <td>@orders.ProductName</td>
                                            <td>@orders.Quantity</td>
                                            <td>@orders.Name</td>
                                            <td>@orders.Address</td>
                                            <td>@orders.Status</td>
                                            <td><button type="button" onclick="shipOrder(@orders.DeliveryId)" class="btn btn-success">Ship</button></td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    }
                    else
                    {
                        <h3>No Orders Left !</h3>
                    }
                }

            </div>

        </div>

    </section>
</div>


<script>
    function shipOrder(id) {
        $.post('/Admin/ShipOrder', { id: id }, (html) => {
            $('#orderContent').html(html);
        })
    }
</script>

