@model Ecommerce_Application.Models.UserModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Checkout</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        body {
            background-color: #FFF7DD;
        }

        .scroll-container {
            display: flex;
            overflow-x: auto;
            gap: 10px;
            padding: 10px;
            scroll-behavior: smooth;
            max-width: 350px;
            white-space: nowrap;
        }

        .scroll-container::-webkit-scrollbar {
            display: none;
        }

        .address-box {
            flex-shrink: 0;
            height: 80px;
            width: 300px;
            background-color: #91C4C3;
            border-radius: 8px;
            overflow: hidden;
            margin-right: 8px;
        }

        .text-ellipsis {
            line-height: 1.2;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3; 
            white-space: normal;
            padding: 5px;
        }

    </style>
</head>
<body>
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="p-4 rounded-4" style="background-color: #B4DEBD; width: 500px; overflow: hidden">
            @if (String.IsNullOrEmpty(Model.Address))
            {
                <h4>No Address Present !</h4>
                <a href="@Url.Action("Index","Profile")">
                    <span class="btn" type="submit" style="background-color: #FFF7DD; color: black !important ">Add Address</span>
                </a>
            }
            else
            {
                <table>
                    <tr id="changeAddressSec" style="display: none">
                        <td class="align-top" style="width: 150px">
                            <h4>Deliver To:</h4>
                        </td>
                        <td>
                            <textarea id="newAddress" class="form-control form-control-lg" rows="4" style="width: 350px"></textarea> <br />
                            <p id="validatorAddress" style="color: red; display: none">Add Address</p>
                            @if (Model.PreviousAddress.Count > 0)
                            {
                                <h6>Previous Address</h6>
                                <div id="previousAddressSec" class="mt-2 mb-2 scroll-container">
                                    @foreach (string address in Model.PreviousAddress)
                                    {
                                        <div class="d-flex address-box">
                                            <div class="p-3 d-flex align-items-center justify-content-center">
                                                <input style="height: 30px; width: 30px;" class="form-check-input" type="radio" name="addressRadio" value="@address">
                                            </div>
                                            <h5 class="text-ellipsis m-0 flex-grow-1">
                                                @address
                                            </h5>
                                        </div>
                                    }
                                </div>
                            }
                            <button id="cancelBtn" class="btn mt-1" type="submit" style="background-color: #FFF7DD; color: black !important ">Cancel</button>
                        </td>
                    </tr>
                    <tr id="oldAddressSec">
                        <td class="align-top" style="width: 150px">
                            <h4>Deliver To:</h4>
                        </td>
                        <td>
                            <h3>@Model.Name</h3>
                            <h4>@Model.Address</h4>
                            <h5>@Model.Phone</h5>
                        </td>
                    </tr>
                    <tr class="mt-4">
                        <td>
                            <button id="changeAddBtn" class="btn mt-3" type="submit" style="background-color: #FFF7DD; color: black !important ">Change Address</button>
                        </td>
                        <td>
                            <button id="proceedBtn" class="btn mt-3" type="button" style="background-color: #FFF7DD; color: black !important ">Proceed</button>
                        </td>
                    </tr>
                </table>
            }
        </div>
    </div>

    <div id="orderConfirmationModel" class="modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Order Placed</h5>
                </div>
                <div class="modal-body">
                    <p>Order Placed Successfully, Continue Shopping</p>
                </div>
                <div class="modal-footer">
                    <a href="@Url.Action("ContinueShopping","Order")">
                        <div class="btn btn-primary">Continue</div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id="toast" style="visibility: hidden" class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="toastBody" class="toast show bg-success text-white">
            <div class="toast-header">
                <strong id="toastTitle" class="me-auto">Updated</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
            </div>
            <div id="toastMsg" class="toast-body">
                User Address Updated
            </div>
        </div>
    </div>

    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/jquery-3.7.0.min.js"></script>

    <script>
        $(document).ready(function () {

            let isNewAddress = false;
            let address = '@Model.Address';

            $('#changeAddBtn').click(function () {
                isNewAddress = true;
                $('#oldAddressSec').hide();
                $(this).hide();
                $('#changeAddressSec').show();
            })

            $('#cancelBtn').click(function () {
                isNewAddress = false;
                $('#changeAddressSec').hide();
                $('#oldAddressSec').show()
                $('#changeAddBtn').show();
            })

            $('#proceedBtn').click(function () {

                if (isNewAddress) {
                    const selectedAddress = $('input[name="addressRadio"]:checked').val();

                    if ($('#newAddress').val().trim() != "" || selectedAddress) {
                        $('#validatorAddress').hide();
                        if ($('#newAddress').val().trim() == "") {
                            address = selectedAddress;
                        } else {
                            address = $('#newAddress').val().trim();
                        }
                    } else {
                        address = '@Model.Address'
                        $('#validatorAddress').show();
                        return;
                    }
                }

                $.ajax({
                    url: '@Url.Action("AddOrder","Order")',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        address: address
                    },
                    success: (response) => {
                        if (response.success === true) {
                            $('#orderConfirmationModel').modal({
                                backdrop: 'static',
                                keyboard: false
                            }).modal('show');
                        } else {
                            $('#toast').css('visibility', 'visible')
                            $('#toastBody').addClass('bg-danger')
                            $('#toastMsg').text('Order Not Placed')
                            $('#toastTitle').text('Error')
                        }
                    },
                    error: (xhr, status, error) => {
                        $('#toast').css('visibility', 'visible')
                        $('#toastBody').addClass('bg-danger')
                        $('#toastMsg').text(error)
                        $('#toastTitle').text('Not Updated')
                    },
                })
            })


        })
    </script>
</body>
</html>
