@model Ecommerce_Application.Models.HeaderModel
@{
    bool isCart = Model.IsCart;
}

<header style="position: fixed; top: 0; width: 100%; z-index: 100">
    <nav class="navbar navbar-expand-lg" style="background-color: #80A1BA; font-size: 18px; height: 70px; font-weight: 500;">
        <div class="container-fluid">
            <a class="navbar-brand text-light">ClickBuy</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active text-light" aria-current="page" href="@Url.Action("Index","Home")">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link text-light active dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Category
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            @if (Model.Categories != null && Model.Categories.Any())
                            {
                                foreach (var category in Model.Categories)
                                {
                                    <li><a class="dropdown-item" href="@Url.Action("Category","Product", new {id = category})">@category</a></li>
                                }
                            }
                            else
                            {
                                <li><span class="dropdown-item">No categories found</span></li>
                            }
                        </ul>
                    </li>
                </ul>
                <div>
                    <form id="searchForm" class="d-flex" onsubmit="return false;">
                        <input id="searchInput" class="form-control me-2" type="search" placeholder="Search Products" aria-label="Search">
                        <button id="searchButton" class="btn" type="submit" style="background-color: #FFF7DD; color: black !important ">Search</button>
                    </form>
                    <div id="searchSuggestions" class="list-group mt-1" style="position:absolute; z-index:1000; width:210px;"></div>
                </div>
                <form class="d-flex ms-4 me-5 px-2 justify-content-between align-items-center">
                    @if (!isCart)
                    {
                        <div style="position: relative;">
                            <a class="d-block text-decoration-none" href="@Url.Action("Index","Cart")">
                                <i class="fa-solid fa-cart-shopping" style="font-size: 30px; color: white"></i>
                            </a>
                            @if (Model.CartItemsCount > 0)
                            {
                                <h6 id="cartItemCount" style="position: absolute; top: -2px; right: 38%">@Model.CartItemsCount</h6>
                            }
                        </div>
                    }
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item dropdown">
                                <a class="nav-link text-light active" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa-solid fa-user" style="font-size: 30px; color: white"></i>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a href="@Url.Action("Index","Profile")" class="dropdown-item">Profile</a></li>
                                    <li><a href="@Url.Action("ViewOrders","Order")" class="dropdown-item">Orders</a></li>
                                    <li><a href="@Url.Action("Logout","User")" class="dropdown-item">Log Out</a></li>
                                </ul>
                            </li>
                        </ul>

                </form>
            </div>
        </div>
    </nav>
</header>

<script src="~/Scripts/jquery-3.7.0.min.js"></script>
<script>
    $(document).ready(function () {

        function showSuggestions(products) {
            let container = $("#searchSuggestions");
            container.empty();

            if (products.length === 0) {
                container.hide();
                return;
            }

            products.forEach(function (p) {
                let item = $('<a style="cursor: pointer;" class="list-group-item list-group-item-action text-dark"></a>');
                item.text(p.ProductName);
                item.click(function () {
                    let productId = p.ProductId;
                    window.location.href = "/Product/Details/" + productId;
                    container.hide();
                });
                container.append(item);
            });

            container.show();
        }

        $("#searchButton").click(function () {
            let query = $("#searchInput").val().trim();
            if (!query) {
                $("#searchSuggestions").hide();
                return;
            }

            $.getJSON("/Product/SeachProduct", { query: query }, function (data) {
                showSuggestions(data);
            });
        });

        $(document).click(function (e) {
            if (!$(e.target).closest("#searchForm, #searchSuggestions").length) {
                $("#searchSuggestions").hide();
            }
        });
    });
</script>

